:host {
  min-height: 120px;
  background-color: var(--background);
}

.loader {
  padding: 16px;
}

.history-title {
  padding: 16px;
  font-size: var(--font-header-size);
  font-weight: var(--font-header-weight);
}

.history-elements {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-rows: 1fr;
}

.table-head {
  display: grid;
  grid-template-columns: 2fr 1.3fr 0.7fr;
  padding: 4px 24px;
  color: var(--extra);
}

.history-item {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  align-items: center;
  padding-left: 16px;
  padding-right: 16px;
}

.bet-money {
  text-align: center;
  font-size: var(--font-header-size);
  font-weight: var(--font-header-weight);
}

.odd {
  background-color: var(--extra-with-opacity);
}
