.bet-status {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

img {
  margin: 8px 32px 8px 14px;
  object-fit: contain;
  height: 24px;
  width: 24px;
}

.status {
  font-size: var(--font-header-size);
  font-weight: var(--font-header-weight);
}

.win {
  color: var(--primary);
}
