.logo-body {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  max-height: 60px;
  max-width: 134px;
}

img {
  cursor: pointer;
}

.small {
  height: var(--logo-small);
}

.big {
  height: var(--logo-big);
}

.input-name {
  cursor: pointer;
  margin: auto;
  margin-left: 10px;
  font-size: var(--font-header-size);
  font-weight: var(--font-header-weight);
}

.unchecked {
  opacity: 0.5;
}
