.logo-body {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
}

img {
  cursor: pointer;
  max-width: 100%;
  max-height: auto;
}

.input-name {
  cursor: pointer;
  margin: auto;
  margin-left: 10px;
  font-size: var(--font-header-size);
  font-weight: var(--font-header-weight);
}

.unchecked {
  opacity: 0.5;
}
