.btn-body {
  margin-top: 12px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.bet-button {
  background: var(--success);
  height: 58px;
  width: 60%;
  border-radius: var(--main-border-radius);
  font-size: var(--font-header-size);
  font-weight: var(--font-header-weight);
  color: var(--text-color);
  font-family: 'Roboto';
}

.bet-button:disabled {
  opacity: 50%;
}
