<div class="history-title">Games results</div>
<div class="table-head">
  <span>Winner</span>
  <span>Time</span>
</div>
<div
  class="history-item"
  [ngClass]="{ odd: i % 2 === 0 }"
  *ngFor="let game of gamesList; let i = index"
>
  <div class="versus">
    <app-team-logo [iconUrl]="team.iconUrl" [name]="team.name"></app-team-logo>
    <span class="vs">vs</span>
    <app-team-logo [iconUrl]="team.iconUrl" [name]="team.name"></app-team-logo>
  </div>
  <div class="date">
    {{ game.time | date: "dd LLLL 'at' HH:mm" }}
  </div>
</div>
