<div class="timer-label">Time and Status</div>
<div class="timer">
  <ng-container [ngSwitch]="gameStatus | async">
    <div *ngSwitchCase="statusEnum.startedGame">
      {{ (timeData | async)!.left | timerFormat }}
    </div>
    <div *ngSwitchCase="statusEnum.waitingForNextGame">
      This game will start at
      {{ (currentGame | async)?.startAt | date: 'shortTime' }}
    </div>
    <div *ngSwitchCase="statusEnum.finishedGame">Game is Over</div>
    <div *ngSwitchDefault>No planned Games</div>
  </ng-container>
</div>
<div class="instructions">
  New match starts every {{ every_minute_when_game_starts }} minutes<br />
  Game duration is {{ game_duration_in_minutes }} minutes<br />
  Graphic shows winner of the current game<br />
  You can do only 1 bets
</div>
