.coefficient-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Roboto';
  margin-top: 12px;
}

.coefficient {
  font-size: var(--font-header-size);
  font-weight: var(--font-header-weight);
}
